@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'globle';
@import 'header';

/* Main Banner CSS */
.mainBanner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    padding: 120px 0 50px;

    .container, .container-fluid {
        position: relative;
    }

    .bannerAfter {
        position: absolute;
        top: 0;
        left: -24px;
        height: 100%;
        width: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 75px;

        &::after, &::before {
            content: '';
            width: 1px;
            height: 100%;
            background-color: #fff;
        }


        span {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.2;
            color: #FFFFFF;
            transform: rotate(-90deg);                
        }
    }

    .bannerBefore {
        position: absolute;
        top: 0;
        right: 14px;
        height: 100%;
        width: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 75px;

        &::after, &::before {
            content: '';
            width: 1px;
            height: 100%;
            background-color: #fff;
        }

        .ssLine {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-direction: column;
        }

        span {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.2;
            color: #FFFFFF;
            transform: rotate(-90deg);                
        }
    }

    .mainBanner-cont {
        text-align: center;
        width: 900px;
        max-width: 100%;
        margin: auto;
        position: relative;


        h2 {
            font-family: 'Causten';
            font-weight: 700;
            font-size: 42px;
            line-height: 1.2;
            color: #C6C1B6;
            text-shadow: 0px 4px 10.1px rgba(0, 0, 0, 0.25);
        }

        h1 {
            font-family: 'Causten';
            font-weight: 500;
            font-size: 150px;
            line-height: 1;
            letter-spacing: -0.04em;
            text-shadow: 0px 4px 10.1px rgba(0, 0, 0, 0.25);
            background: url('../images/hd-bg.png');
            background-size: 500vw 100vh;
            background-position: center;
            -webkit-background-clip: text;
            color: transparent;

        }

        p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 1.2;
            color: #C6C1B6;
            padding-right: 40px;
            padding-left: 40px;
            padding-top: 20px;

            &+p {
                padding-top: 40px;
            }
        }

        .mn-btn {
            padding-top: 50px;
        }
    }
}

.mn-hd {
    h4 {
        font-family: 'Causten';
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 0.88;
        text-shadow: 0px 10px 7.1px rgba(0, 0, 0, 0.5);
        color: transparent;
        background: url('../images/hd-bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
    }

    h5 {
        display: flex;
        align-items: center;
        gap: 30px;
        font-family: 'Causten';
        font-weight: 700;
        font-size: 40px;
        line-height: 1.2;
        color: #CCCCCC;

        svg {
            width: 45px;
            height: auto;
        }
    }

    h6 {
        font-family: 'Causten';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 1;
        color: #FFFFFF;
    }
}
.mn-btn {
    a {
        margin-top: 40px;
        /* Auto layout */
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 22px 36px 20px;
        gap: 26px;
        background: rgba(0, 0, 0, 0.2);
        border: 2px solid #383838;
        border-radius: 50px;
        font-family: 'Causten';
        font-weight: 700;
        font-size: 22px;
        line-height: 1.2;
        text-transform: capitalize;
        color: #FFFFFF;

        &:hover {
            background: rgba(0, 0, 0, 0.7);
        }
    }
}

.section1 {
    // background-color: #1E1E1E;
    padding: 170px 0 190px;

    .sec1-hd {
        position: relative;

        h6 {
            padding-bottom: 120px;
            padding-top: 40px;
        }

        span {
            position: absolute;
            top: -40px;
            left: 0;
            font-weight: 400;
            font-size: 455px;
            line-height: 0.8;
            background: linear-gradient(180deg, #FFFFFF 0%, #05150B 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            opacity: 0.05;          
        }
    }

    .sec1-cont {
        padding-right: 12%;
        padding-left: 12%;
        padding-top: 95px;

        p {
            font-family: 'Causten';
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 1.2;
            color: #CCCCCC;

            &+p {
                padding-top: 30px;
            }
        }

        a {
            margin-top: 40px;
            /* Auto layout */
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 22px 36px;
            gap: 26px;
            background: rgba(0, 0, 0, 0.2);
            border: 2px solid #383838;
            border-radius: 50px;
            font-family: 'Causten';
            font-weight: 700;
            font-size: 22px;
            line-height: 1.2;
            text-transform: capitalize;
            color: #FFFFFF;

            &:hover {
                background: rgba(0, 0, 0, 0.7);
            }
        }
    }

    .sec1-bottom {
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 95px;

        .col-md-4 {
            display: flex;
            flex-direction: column;
            gap: 100px;
        }

        .sec1-contCard {
            h5 {
                align-items: center;
                display: inline-flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 25px 30px;
                gap: 20px;
                border: 1px solid #474747;
                border-radius: 97px;
                margin-bottom: 40px;
                font-family: 'Causten';
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 1.2;
                color: #FFFFFF;
                text-wrap: nowrap;
                text-shadow: 0px 10px 7.1px rgba(0, 0, 0, 0.5);
            }

            p {
                font-family: 'Causten';
                font-weight: 500;
                font-size: 24px;
                line-height: 1.25;
                color: #606C63;
            }
        }
    }

    .sec1-imgCard {
        width: 130%;
        margin-left: -15%;
    }
}

.aboutSection {
    // background-color: #1E1E1E;
    padding-bottom: 290px;

    .aboutSec-main {
        padding-right: 5%;
        padding-left: 5%;
        
        .aboutSec-hd {
            h5 {
                padding-bottom: 25px;
            }
        }

        .aboutSec-img {
            margin-top: -250px;
            position: relative;
        }

        .aboutSec-contCard {
            position: absolute;
            width: 500px;
            height: 430px;
            left: 0;
            bottom: 40px;
            background: #122312;
            border-radius: 30px;
            text-align: left;
            padding: 50px;
            
            h5 {
                font-family: 'Causten';
                font-weight: 300;
                font-size: 80px;
                line-height: 1.2;                
                color: #4B6150;
            }

            p {
                font-weight: 500;
                font-size: 30px;
                line-height: 1.13;
                color: #FFFFFF;
                padding-top: 26px;
            }
        }

        .aboutSec-imgCard {
            position: absolute;
            margin: auto;
            width: fit-content;
            height: fit-content;

            span {
                font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                color: #FFFFFF;
                position: absolute;
                top: 30px;
                left: 30px;
            }

            &.nx4 {
                right: 60px;
                bottom: 60px;
            }

            &.nx3 {
                right: 60px;
                top: 10px;
            }

            &.nx2 {
                top: 0;
                bottom: 0;
                right: -500px;
                left: 0px;    
            }

            &.nx1 {
                bottom: 50px;
                right: 0;
                left: -100px;    
            }
        }
    }
}

.videoSection {
    background-image: url(../images/vid.png);
    background-size: cover;
    background-position: center;
    padding: 125px 5% 110px;

    .videoSec-playBtn {
        text-align: center;
        padding: 240px 0;

        a {
            width: 130px;
            height: 130px;
            border: 2px solid #D9D9D9;
            display: grid;
            place-items: center;
            border-radius: 50%;
            margin: auto;
        }
    }

    .videoSec-cont {
        p {
            font-weight: 400;
            font-size: 30px;
            line-height: 1.2;
            color: #FFFFFF;
            padding-right: 70px;
        }

        h4 {
            font-weight: 400;
            font-size: 60px;
            line-height: 1;
            color: #FFFFFF;            
        }
    }
}

.section2 {
    padding: 100px 0 0 0;

    .sec2-center {
        text-align: center;
        padding: 120px 0 130px;
        position: relative;

        .sec2-centCont {
            height: fit-content;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            text-align: center;

            h4 {
                font-size: 150px;
                padding-top: 35px;
            }
        }
    }

    .sec2-bottom {
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 400px;
        position: relative;

        img {
            position: absolute;
            bottom: 0;
            width: 100%;
            right: 0;
            left: 0;
        }
    }

    .sec2-bottomCard {
        display: flex;
        gap: 70px;
        position: relative;
        
        &.xy2 {
            padding-bottom: 550px;
        }
        
        &::after {
            content: "";
            width: 1px;
            height: 125%;
            position: absolute;
            left: 45px;
            top: 120px;
            background: #fff;
            z-index: 1;
        }

        &::before {
            content: "";
            width: 7px;
            height: 7px;
            border-radius: 50%;
            position: absolute;
            left: 42px;
            top: 120px;
            background: #fff;
            z-index: 1;
        }

        .sec2-icon {
            flex: 0 0 92px;

            position: relative;


            span {
                width: 92px;
                height: 92px;
                border: 2px solid #D9D9D9;
                border-radius: 50%;
                display: grid;
                place-items: center;
                font-weight: 300;
                font-size: 30px;
                line-height: 1;
                color: #E6AA37;                
            }
        }

        p {
            font-weight: 500;
            font-size: 30px;
            line-height: 1.33;
            color: #CCCCCC;
            padding-top: 33px;
        }
    }
}

.mapSection {
    padding: 135px 0 0;
    .mapSec-hd {
        padding: 0 12%;

        h4 {
            padding-top: 20px;
        }
    }
}

.newsSection {
    .newsSec-hd {
        padding: 0 12% 80px;
        
        h4 {
            padding-top: 25px;
        }
    }

    .newsSec-card {
        border-radius: 25px;
        overflow: hidden;

        .cont {
            background-color: #fff;
            padding: 55px 45px 45px;

            h6 {
                font-weight: 400;
                font-size: 55px;
                line-height: 1.4;
                color: #05150B;  
                padding-bottom: 30px;             
            }

            p {
                font-weight: 400;
                font-size: 22px;
                line-height: 1.2;
                color: #05150B;
                padding-bottom: 25px;            
            }

            span {
                font-weight: 400;
                font-size: 22px;
                line-height: 1.2;
                color: #05150B;                
            }
        }
    }

    .newsSec-btn {
        padding-top: 70px;
    }
}

.contactSection {
    padding: 100px 0 0 ;

    .contactSec-hd {
        padding: 0 5% 145px;

        h4 {
            font-size: 150px;
        }

        p {
            padding-top: 30px;
            font-weight: 500;
            font-size: 50px;
            line-height: 1.36;
            color: #CCCCCC;
        }
    }

    .contactSec-img {
        position: relative;
        margin-bottom: -100px;
    }
}

.contactSec-main {
    background-color: #fff;
    padding: 200px 50px 115px;

    .contactSec-form {
        h6 {
            font-weight: 500;
            font-size: 80px;
            line-height: 1;
            color: #000000;
            padding-bottom: 35px;
        }

        .contactSec-formFeild {
            padding-bottom: 36px;
            label {
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #222226;
                padding-bottom: 15px;
                display: block;
            }

            input, select, textarea {
                width: 100%;
                height: 45px;
                border-bottom: 1px solid #B7B7B7;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.2;
                color: #222226;
            }

            textarea {
                height: 120px;
                resize: none;
            }
        }

        .contactSec-formBtn {
            button {
                display: flex;
                align-items: center;
                gap: 25px;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.2;
                text-transform: uppercase;
                color: #000000;
                transition: all 0.3s ease-in-out;

                
                
                &:hover {
                    color: #E6AA37;
                    gap: 20px;
                }
            }
        }
    }
}

footer {
    padding: 150px 0 270px;
    .footerBackBtn {
        padding-bottom: 120px;
        a {
            display: flex;
            align-items: center;
            gap: 15px;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.2;
            color: #FFFFFF;

            .icon {
                width: 50px;
                height: 50px;
                border-radius: 50%;           
                justify-content: center;
                display: flex;
                align-items: center;
                border: 1px solid #fff;
            }

            &:hover {
                color: #606C63;
            }
        }

    }

    .widget {
        display: flex;
        gap: 50px;
        justify-content: flex-end;
    }

    .getTouch-footerForm {
        width: fit-content;
        label {
            font-weight: 400;
            font-size: 24px;
            line-height: 1.2;
            color: #FFFFFF;
            padding-bottom: 42px;          
        }
    }

    .getTouch-footerFormFeild {
        display: flex;
        align-items: flex-end;
        gap: 20px;

        input {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            gap: 10px;
            width: 370px;
            height: 42px;
            border-bottom: 1px solid #FFFFFF;
            color: #fff;
            font-size: 16px;
            font-weight: 4000;
        }
        button {
            padding: 16px 42px;
            font-weight: 400;
            font-size: 16px;
            line-height: 1;
            color: #18271E;
            background-color: #fff;
            transition: all 0.3s ease-in-out; 

            &:hover {
                background-color: #CCCCCC;
            }
        }
    }

    .footerLink {
        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
                a {
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 1.2;
                    color: #9F9F9F;
                    
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.copyright {
    padding: 50px 0;

    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        color: #999999; 
    }

    ul {
        display: inline-flex;
        flex-direction: column;
        gap: 40px;

        li {
            span , a {
                text-align: left;
                font-weight: 500;
                font-size: 18px;
                line-height: 1.2;
                color: #9C9C9C;
                display: block;          
            }

            a {
                margin-top: 4px;

                &:hover {
                    color: #FFFFFF;
                }
            }
        }
    }
}

/* Custom CSS Styling */